<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus aut esse facilis sequi sunt saepe velit, voluptate hic eos maxime similique suscipit quibusdam dolor sapiente in dolores ad consequatur distinctio nesciunt et aspernatur nihil. Doloremque aliquam similique error ratione iste!</p>
    </div>
</div>