<div class="jumbotron mt-4" style="background-color: lightgray; padding: 30px;">
    <h1 class="display-4">Notes App Nodejs and Mongodb</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo unde facere officiis ullam harum, corrupti velit. Amet aliquid tenetur enim, placeat re</p>
</div>